body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
    color: #272727;
    margin: 0;
}


/* Typography */

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0
}

h2 {
    font-size: 2.2rem;
}

p {
    font-size: 1.2rem;
    color: #6b6b6b;
    margin-bottom: 1em;
}

/* Layout */

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}


/* Card Component */

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  margin: 20px;
}

.icon-container {
  margin-bottom: 20px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card-title {
  font-size: 1.5rem;
  color: #272727;
  margin: 10px 0;
}

.card-description {
  font-size: 1rem;
  color: #a8a8a8;
}

/* Button Component */

button {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 0.5em 2em;
    background: #175031;
    cursor: pointer;
}


/* Banner Pane */
.banner-section {
  padding: 3em;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f5fffa;

}

.heaading-color{
    color: #2f8c0b;
}

.get-started-button {
  background: #ff4a4a;
  margin-top: 1em;
}



/* How it Works Section */

.main-container {
  padding-top: 2em;
}

.section-2-title {
  text-align: left;
}

/* Value Prop Section */
.value-prop-section {
  padding: 3em;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.value-prop-content {
  flex: 1;
  padding-right: 2em;
  margin-right: 2em;
}

.value-prop-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.value-prop-content p {
  font-size: 1rem;
  color: #6b6b6b;
}

.buying-a-car-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buying-a-car-img img {
  max-width: 100%;
  border-radius: 10px;
}
